<div class="container my-5">
  <h1>Repositorios</h1>
<table class="table table-success table-striped ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Visibilidad</th>
        <th>Language</th>
        <th>Allow_forking</th>
        <th>Repositrio</th>
        <th>created_at</th>
        <th>updated_at</th>

      </tr>
    </thead>
    <tbody *ngFor="let repo of repos">
      <tr>
        <td>{{repo.name}}</td>
        <td>{{repo.visibility}}</td>
        <td>{{repo.language}}</td>
        <td>{{repo.allow_forking}}</td>
        <td><a href="{{repo.html_url}}">Ir al repo</a></td>
        <td>{{repo.created_at}}</td>
        <td>{{repo.updated_at}}</td>


      </tr>
    </tbody>
</table>
</div>